.hasDetail {
    &::before {
        content: "";
        position: absolute;
        top: 115%;
        left: 0;
        right: 0;
        width: 40px;
        margin: 0 auto;
        height: 6px;
        background-color: #fff;
    }
}

.nav__menu {
    li {
        position: relative;

        &:hover {
            &::before {
                content: "";
                position: absolute;
                top: 120%;
                left: 0;
                right: 0;
                width: 40px;
                margin: 0 auto;
                height: 2px;
                background-color: rgba(249, 65, 68, 0.38);
            }
        }
    }
}

.cursor {
    @media (min-width: 1024px) {
        position: fixed;
        left: 0;
        top: 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: transparent;
        // mix-blend-mode: difference;
        z-index: 999;
        pointer-events: none;
        border: 1px solid #f94144;

        // &::before {
        //     content: "";
        //     position: absolute;
        //     top: 10px;
        //     left: 10px;
        //     right: 10px;
        //     bottom: 10px;
        //     border-radius: 50%;
        //     background-color: #f94144;
        // }

        &.cursor__live {
            background-color: #6461ea;
            mix-blend-mode: color;

            &::before {
                content: none;
            }
        }
    }
}

.about_title {
    line-height: 3.5rem;
}

.socials {
    top: 50%;
}

.emailFooter {
    word-wrap: break-word;
}

.circle {
    animation: move-up-down 6s ease-in-out infinite alternate;

    @keyframes move-up-down {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-35px);
        }
    }

    &.circle__1 {
        left: calc(50% + 20rem);
        top: -4rem;
        animation-delay: -1333ms;
    }

    &::before {
        content: "";
        position: absolute;
        width: 40rem;
        height: 40rem;
        border-radius: 100rem;
        background-color: transparent;
        border: 1px solid #eee;
        pointer-events: none;
        transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }

    &.circle__2 {
        left: calc(8rem / 2);
        top: 120%;
        animation-delay: -666ms;

        &::before {
            content: "";
            width: 27rem;
            height: 27rem;
        }
    }

    &.circle__3 {
        top: 140%;
        left: calc(100% - 12rem);

        &::before {
            content: "";
            width: 15rem;
            height: 15rem;
        }
    }

    .circle__child {
        transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }

    &:hover {
        .circle__child {
            height: calc(4rem * 1.5) !important;
            width: calc(4rem * 1.5) !important;
        }

        &::before {
            width: calc(4rem * 2.5);
            height: calc(4rem * 2.5);
        }
    }
}
