@import "../components/scss/helpers";

@font-face {
    font-family: "TTHoves";
    src: url("/fonts/TTHoves/TTHoves-Regular.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "TTHoves";
    src: url("/fonts/TTHoves/TTHoves-Light.woff");
    font-style: medium;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "TTHoves";
    src: url("/fonts/TTHoves/TTHoves-Bold.woff");
    font-style: medium;
    font-weight: 700;
    font-display: swap;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "TTHoves", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    box-sizing: border-box;
}

body ::-webkit-scrollbar,
html ::-webkit-scrollbar {
    width: 12px;
}

body ::-webkit-scrollbar-track,
html ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #282828;
}

body ::-webkit-scrollbar-thumb,
html ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: #e04040;
}
